.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local
# Ignore all .env files in any subdirectory
**/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.pyc
*.pyo

#keycloak files
*.mv.db
*.trace.db